@import url('https://fonts.google.com/specimen/Inter');

html {
  height: 100%;
}
body {
  background-color: rgb(255, 255, 255);
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

.navigation-bar {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  display: grid;
  grid-template-columns: 10% 20% 20% 50%;
}

.site-logo{
  grid-column: 1 / 1;
}

.navigation-pages {
  align-items: center;
  grid-column: 4 / 4;
}

.navigation-pages a{
  padding-left: 25px;
  padding-right: 25px;
  color: black;
  text-decoration: none;
}

.navigation-pages a:visited{
  color: black;
}

.navigation-pages a:hover{
  color: rgb(255, 123, 0);
}

.featured {
  padding:20px;
}

.feature-img {
  width: 70%;
}

.feature-img img{
  align-items: left;
  width: 100%;
}

.headline-txt h1{
  font-size: 2.5rem;
  font-weight: 800;
  width: 40%;
}

.headline-txt p{
  font-size: 1rem;
  width: 60%;
}

.read-more {
  background-color: hsl(5, 85%, 63%);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  color: white;
}

.read-more:hover{
  background-color: hsl(240, 100%, 5%);
}

aside {
  width: 30%;
}
.attribution { 
  font-size: 0.7rem; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}